body{
  margin:0px;
  font-family: 'Montserrat';
  background-color: #222222;
}

@media (max-width:600px){
  .banner{
    background-image: url(/img/banner3.gif);
    background-size:cover;
    align-items: center;
    background-repeat: no-repeat;
  }
}
@media (min-width:601px){
  .banner{
    background-image: url(/img/banner2.gif);
    background-size:cover;
    align-items: center;
    background-repeat: no-repeat;
  }

}
@media (min-width:1201px){
  .banner{
    background-image: url(/img/banner.gif);
    background-size:cover;
    align-items: center;
    background-repeat: no-repeat;
  }
}
.logo{
  width: 40%;
}
a{
    text-decoration: none;
    color: black;
}
  ul {
    list-style-type: none;
    overflow: hidden;
    
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 5px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    transition: 0.6s;
  }
  li a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
    transition: 0.6s;
  }
  .links{
      float: right;
  }

  .navBar{
    display: flex;
    flex-direction:column ;
    height: 73vh;
    justify-content:space-between;
  }

  .descricao{
    width: 40%;
    border-radius: 10px;
    line-height: 150%;
    margin-left: 40%;
    color: white;
    font-size: 150%;
    font-family: 'Montserrat', sans-serif;
  }
  .agendar{
    color: white;
    height: auto;
    display: grid;
    grid-template-columns:40% 50% 10%;   
    line-height: 200%;
    background-color: #222222;
    font-size: 20px;
    margin: 5%;
  }
  .item1 {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-content: center;
  margin-top: 10%;
}
.item2 {
  display: flex;
  grid-column-start: 2;
  grid-column-end: 3;
  align-items: center;
}


.footer{
  height: 200px;
}

