 *{
  margin:0;
  padding: 0;
 }
 body{
   margin:0;
   padding: 0;
   font-family: 'Montserrat';
   background-color: #222222;
 }
 .banner{
     background-image: url(/img/banner2.gif);
     background-size:cover;
     align-items: center;
     background-repeat: no-repeat;
 }
.corpo{
  position: relative;
}
img{
  height: inherit;

}
a{
    text-decoration: none;
    color: black;
}
  ul {
    list-style-type: none;
    overflow: hidden;
    
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 5px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    transition: 0.6s;
  }
  li a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
    transition: 0.6s;
  }
  .links{
      float: right;
  }

  .navBar{
    display: flex;
    flex-direction:column ;
    height: auto;
    justify-content:space-between;
  }

  .descricao{
    width: 100%;
    border-radius: 10px;
    line-height: 150%;
    margin-left: 5%;
    color: white;
    font-size: 150%;
    font-family: 'Montserrat', sans-serif;
    margin-left: 0;
  }
  .texto{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .agendar{
    color: white;
    height: auto;
    display: grid;
    grid-template-columns:40% 50% 10%;   
    line-height: 200%;
    background-color: #222222;
    font-size: 20px;
    margin: 5%;
  }
  .item1 {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-content: center;
  margin-top: 10%;
}
.item2 {
  display: flex;
  grid-column-start: 2;
  grid-column-end: 3;
  align-items: center;
}
/*------------------------------------------------------------
# Artistas
--------------------------------------------------------------*/
.artistas{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.perfis{
  background-image: url(/img/artista.jpg);
  background-size: 100%; 
  width: 30rem;
  height: 30rem;
  margin: 2rem;
}
.perfis:hover{
  width: 30%;
  height: 30%;
  background-image: none;
  background-color: #222222;
  width: 30rem;
  height: 30rem;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.artistas .perfis .textoImagem {
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.textoImagem{
  color: transparent;
  display: block;
  height: 100%;
  transition: none;
}
.textoImagem:hover{
  display: block;
  color: white;
  height: 100%;
  transition: 0.6s;
}

.footer{
  height: 200px;
}


/*------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.section-title{
  color: #fff;
  padding: 15px;
  margin-left: 15%;
}
.contact .contact-info {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
}
.contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #c88242;
}
.contact .contact-info address, .contact .contact-info p {
  margin-bottom: 0;
  color: #fff;
}
.contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}
.contact .contact-info a {
  color: #fff;
}
.contact .contact-info a:hover {
  color: #c88242;
}
.contact .contact-address, .contact .contact-phone, .contact .contact-email {
  margin-bottom: 20px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;


  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  height: auto;
  padding: 10px 15px;
  border-radius: 4px;
  width: 100%;
}
.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #c88242;
}
.contact .php-email-form button[type=submit] {
  background: #c88242;
  border: 0;
  padding: 10px 30px 12px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}
.contact .php-email-form button[type=submit]:hover {
  background: #c88242;
}

.text-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.form{
  width: 50%;
}
.container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}

footer p img{
  height: 150px;
}

